In [36]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_errorimport re

In [15]:
df=pd.read_csv("Desktop//instagram_reach.csv")

In [39]:
df['Time since posted'] = df['Time since posted'].apply(lambda x: re.search(r'\d+', str(x)).group() if re.search(r'\d+', str(x)) else 0)

In [38]:
df.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [18]:
df.tail()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
95,8,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3 hours,31
96,9,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3 hours,42
97,10,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3 hours,10
98,11,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3 hours,222
99,12,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3 hours,109

In [19]:
df.dtypes

Unnamed: 0            int64
S.No                  int64
USERNAME             object
Caption              object
Followers             int64
Hashtags             object
Time since posted    object
Likes                 int64
dtype: object

In [21]:
df.isnull().sum()

Unnamed: 0           0
S.No                 0
USERNAME             0
Caption              6
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [ ]:
# 6 missing values

In [22]:
df.duplicated().sum()

0

In [23]:
df.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [24]:
df.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [42]:
X = df[['Followers', 'Time since posted']].astype(float)
y_likes = df['Likes']
y_time = df['Time since posted']

In [30]:
X

    Followers Time since posted
0        1600          11 hours
1         880           2 hours
2         255           2 hours
3         340           3 hours
4         304           3 hours
..        ...               ...
95        614           3 hours
96        450           3 hours
97        182           3 hours
98       2039           3 hours
99        741           3 hours

[100 rows x 2 columns]

In [43]:
X_train, X_test, y_likes_train, y_likes_test, y_time_train, y_time_test = train_test_split(X, y_likes, y_time, test_size=0.2, random_state=42)

In [33]:
X_train.shape

(80, 2)

In [44]:
model_likes = LinearRegression()
model_time = LinearRegression()

In [45]:
model_likes.fit(X_train, y_likes_train)
model_time.fit(X_train, y_time_train)

LinearRegression()

In [46]:
predictions_likes = model_likes.predict(X_test)
predictions_time = model_time.predict(X_test)

In [93]:
mse_likes = mean_squared_error(y_likes_test, predictions_likes)
mse_time = mean_squared_error(y_time_test, predictions_time)

In [ ]:
print("mse like")